body {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: rgba(51, 15, 102, 1);
min-width: 640px;
max-width: 1010px;
color: rgb(125, 167, 200)
}

.header{
height: 125px;
font-family: Arial, Helvetica, sans-serif;
font-size: 120%;
}

.main{
text-align: center;
}

h1 {
font-size: 80px;
}

.main img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: auto;
  opacity: 65%;
  border-radius: 8px;
}

.main ul {
display: block;
margin-left: auto;
margin-right: auto;
text-align: left;
font-size: 150%;
}